<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav hidden-md-down">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
        </li>
    </ul>
</header>

<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/dashboard"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
                </li>
                <li class="divider"></li>
                <li class="nav-title">
                    메뉴
                </li>
                <li class="nav-item" *ngIf="auth === '관리자'">
                    <a class="nav-link" routerLinkActive="active" routerLink="/user"><i class="icon-speedometer"></i>유저정보<span class="badge badge-info">NEW</span></a>
                </li>
                <li class="nav-item" *ngIf="auth === '관리자'">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/store/list']"><i class="icon-speedometer"></i>상점정보<span class="badge badge-info">NEW</span></a>
                </li>
                <li class="nav-item" *ngIf="auth === '가맹'">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/store', storeId]"><i class="icon-speedometer"></i>상점정보<span class="badge badge-info">NEW</span></a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>
