<button class="btn btn-primary" routerLinkActive="active" [routerLink]="['/store/list']">리스트 보기</button>
<div class="card">
  <div class="card-header">
    {{model.name}} // {{model.createdAt | date: 'yyyy/MM/dd'}}
    <label *ngIf="!getData" class="btn-right mb-0">
      <button (click)="update()" class="btn btn-sm btn-primary">수정 하기</button>
    </label>
    <label *ngIf="getData" class="btn-right mb-0">
      <button (click)="updatecancel()" class="btn btn-sm btn-warning">취소</button>
    </label>

  </div>
  <div class="card-block">
    <div class="row justify-content-md-center">
      <div class="col-md-3" *ngIf="!imguploader && !imgs">
        <img class="img-responsive" height="200" style="margin-top: 20px" width="100%" src="https://dummyimage.com/600x400/000/fff&text=Store">
      </div>
      <div class="col-md-3" *ngFor="let img of model.storeImages; let i = index">
        <div>
          <!--<input #file accept="image/*" type="file" name="img-upload" ng2FileSelect [uploader]="uploader" (change)="upload(file.files)" [hidden]=true/>
          <button class="btn badge badge-success" #upload (click)="file.click()" (click)="addimgs()">수정</button>-->
          <button class="btn badge badge-warning" (click)="confirmDeleteImg(img.id, i)">삭제</button>
          <img *ngIf="imgs" class="img-responsive" height="200" width="100%" src="http://52.175.147.246:3005/api/imgs/{{img.img}}">
        </div>
      </div>
      <div class="col-md-3">
        <div *ngIf="imguploader">
          <img class="img-responsive" width="100%" src="{{imgurl}}">
          <input type="file" name="img-upload" ng2FileSelect [uploader]="uploader" />
        </div>
        <button *ngIf="!imguploader" class="btn btn-primary" style="height: 200px; margin-top:20px" (click)="addimgs()">사진 등록하기</button>
        <button *ngIf="imguploader" class="btn btn-primary" (click)="uploadFile()">사진 업로드</button>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div *ngFor="let tag of model.tags; let i = index">
        <span class="badge badge-pill badge-info" style="margin-left: 10px;margin-right: 10px">
          {{tag.name}}
          <button class="btn btn-sm btn-info" (click)="confirmDeleteTag(tag.id, i)">x</button>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div *ngIf="!getData">
          {{model | json}}
          <h3>주소: {{model.addr}}</h3>
          <h3>전화번호 :{{model.tel}}</h3>
          <h3>카테고리: {{model.category}}</h3>
          <h3>소개글: {{model.intro}}</h3>
          <!--<h3>평일 {{model.openTime}}~{{model.closeTime}} // 주말 {{model.weekendOpen}}~{{model.weekendClose}}</h3>
          <h3>쿠폰 : {{model.couponName}} - {{model.couponAmount}}</h3>-->
        </div>
        <div *ngIf="getData">
          <form name="form" (ngSubmit)="updateStore()" #f="ngForm" novalidate>
            <div class="form-group">
              <label for="addr">주소</label>
              <!--<daum-post [Addr]=model.addr (Address)="storeAddr($event)"></daum-post>-->
              <input type="text" class="form-control" name="detail" [(ngModel)]="model.addr" placeholder="장소를 적어주세요(ex: 전북대 구정문)" />
            </div>
            <div class="form-group">
              <label for="tel">전화번호</label>
              <input type="text" class="form-control" name="tel" [(ngModel)]="model.tel" placeholder="전화번호" #tel="ngModel" [max]="11"
              />
            </div>
            <div class="form-group">
              <label for="category">카테고리</label>
              <input type="text" class="form-control" name="category" [(ngModel)]="model.category" placeholder="카테고리" #category="ngModel"
              />
            </div>
            <div class="form-group">
              <label for="intro">소개글</label>
              <textarea class="form-control" name="intro" [(ngModel)]="model.intro" #intro="ngModel" placeholder="소개글을 적어주세요"></textarea>
            </div>
            <!--<div class="form-group row">
              <div class="form-group col-md-3">
                <label for="time">평일 여는시간</label>
                <input type="text" class="form-control" name="openTime" [(ngModel)]="model.openTime" placeholder="ex)08:00" #openTime="ngModel"
                />
              </div>
              <div class="form-group col-md-3">
                <label for="time">평일 닫는시간</label>
                <input type="text" class="form-control" name="closeTime" [(ngModel)]="model.closeTime" placeholder="ex)24:00" #closeTime="ngModel"
                />
              </div>
              <div class="form-group col-md-3">
                <label for="time">주말 여는시간</label>
                <input type="text" class="form-control" name="weekendOpen" [(ngModel)]="model.weekendOpen" placeholder="ex)08:00" #weekendOpen="ngModel"
                />
              </div>
              <div class="form-group col-md-3">
                <label for="time">주말 닫는시간</label>
                <input type="text" class="form-control" name="weekendClose" [(ngModel)]="model.weekendClose" placeholder="ex)24:00" #weekendClose="ngModel"
                />
              </div>
            </div>
            <div class="form-group row">
              <div class="form-group col-md-6">
                <label for="coupon">쿠폰이름</label>
                <input type="text" class="form-control" name="couponName" [(ngModel)]="model.couponName" placeholder="쿠폰이름" #couponName="ngModel"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="coupon">쿠폰이름</label>
                <input type="text" class="form-control" name="couponAmount" [(ngModel)]="model.couponAmount" placeholder="ex)1000" #couponAmount="ngModel"
                />
              </div>
            </div>-->
            <div class="form-group">
              <p><button [disabled]="loading" class="btn btn-primary btn-sm" (click)="addPush(detail)">수정</button></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="card-block">
    <tabset>
      <tab heading="메뉴이미지등록">
        <div class="col-md-12">
          <img *ngIf="!menuuploader && imgsMenu" class="img-responsive" width="100%" height="100%" src="http://52.175.147.246:3002/api/imgs/{{model.imgsMenu}}">
          <img *ngIf="!menuuploader && !imgsMenu" class="img-responsive" width="100%" height="100%" src="https://dummyimage.com/600x400/000/fff&text=Menu">
          <div *ngIf="menuuploader">
            <img class="img-responsive" width="100%" height="100%" src="http://52.175.147.246:3002/api/imgs/{{model.imgsMenu}}">
            <input type="file" name="img-upload" ng2FileSelect [uploader]="uploader" />
          </div>
          <div class="row">
            <button *ngIf="!menuuploader" class="btn btn-primary" (click)="addimgsMenu()">사진 등록하기</button>
            <button *ngIf="menuuploader" class="btn btn-primary" (click)="uploadFile()">사진 업로드</button>
          </div>
        </div>
      </tab>
      <tab heading="메뉴관리">
        <app-store-menu [store]="model.id"></app-store-menu>
      </tab>
      <tab heading="지도">
        <div class="col-md-12">
          지도-구글지도 api받아와서 현재 위치 보여주기....(이건 컴에서 어케 쓰는거지? 대략적 위치??)
        </div>
      </tab>
      <tab heading="댓글">
        <div class="col-md-12">
          <div *ngIf="model.store_replies?.length == 0">
            아직 등록된 댓글이 없어요!
          </div>
          <div class="row" *ngFor="let re of model.store_replies">
            <div class="col-md-3">{{re.nick}}</div>
            <div class="col-md-9">{{re.content}}</div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>-->
</div>