<div class="card">
  <div class="card-header">사용방법</div>
  <div class="card-block">
    <p>1. 카테고리를 설정하세요(notice / event) </p>
    <p>2. 내용을 적어주세요</p>
    <p>3. 실제 등록까지 약간의 시간이 걸릴 수 있습니다.</p>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-6">
    <form name="form" (ngSubmit)="add()" #f="ngForm" novalidate>
      <!--<div>
        <img *ngIf="!imguploader && imgs" class="img-responsive" width="100%" src="http://52.175.147.246:3002/api/imgs/{{model.imgs}}">
        <img *ngIf="!imguploader && !imgs" class="img-responsive" width="100%" src="https://dummyimage.com/600x400/000/fff&text=Store">
        <div *ngIf="imguploader">
          <div *ngFor="let img of model.images">
            <img class="img-responsive" width="100%" src="http://52.175.147.246:3005/api/imgs/{{img}}">
          </div>
          <input type="file" name="img-upload" ng2FileSelect [uploader]="uploader" multiple/>
        </div>
        <button *ngIf="!imguploader" class="btn btn-primary" (click)="addimgs()">사진 등록하기</button>
        <button *ngIf="imguploader" class="btn btn-primary" (click)="uploadFile()">사진 업로드</button>
      </div>-->
      <div class="form-group">
        <label for="category">카테고리</label>
        <select class="form-control" [(ngModel)]="model.category" #category="ngModel" required	name="category" (change)="changeCategory($event.target.value)">
          <option value="notice">notice</option>
          <option value="event">event</option>
        </select>
      </div>
      <div class="form-group">
        <label for="title">제목</label>
        <input type="text" class="form-control" name="title" [(ngModel)]="model.title" #title="ngModel" required />
      </div>      
      <div class="form-group">
        <label for="content">내용</label>
        <textarea class="form-control" name="content" [(ngModel)]="model.content" #content="ngModel" required></textarea>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">생성하기</button>
      </div>
    </form>
  </div>
</div>