<div>
  <div class="card">
    <div class="card-block">
      <table class="table table-bordered table-striped table-condensed" border="1">
        <thead>
          <tr>
            <th>기기고유번호</th>
            <th>닉네임</th>
          </tr>
        </thead>
        <tbody>
          <!-- 추가를 위한 입력 폼 -->
          <tr *ngFor="let p of results; let i=index">
            <td>{{p.user_login}}</td>
            <td>{{p.user_nickname ? p.user_nickname : '없음'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--
<div class="form-group">
  <label for="name">Hero Power</label>
  <select class="form-control" id="name"
          required
          name="name"
          >
    <option *ngFor="let category of bigCategory" [value]="category">{{category}}</option>
  </select>
</div>-->