<div class="card">
  <div class="card-header">사용방법</div>
  <div class="card-block">
    현재 구현된 기능<br/>
    상점 정보에서 가게에 대한 정보를 볼수있습니다.<br/>
    <p>
    1. 가게 생성/삭제/수정하기<br/>
    2. 유저 정보 확인<br/>
    3. 공지사항 & 이벤트 생성/수정/삭제하기<br/>
    4. 가게소개 / 공지사항은 html 태그 사용가능<br/>
    </p>
  </div>
</div>
<div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
<img src="//t1.daumcdn.net/localimg/localimages/07/postcode/320/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" alt="닫기 버튼">
</div>
<btn-daum-address (result)="setDaumAddressApi($event)" [options]="daumAddressOptions"></btn-daum-address>
