<div class="card">
  <div class="card-header">사용방법</div>
  <div class="card-block">
    현재 구현된 기능<br/>
    상점 정보에서 가게에 대한 정보를 볼수있습니다. 추후 권한에 따라서 일반 사업자분들은 부여된 가게 상세정보 페이지로 가게 됩니다.<br/>
    1. 가게 추가하기<br/>
    2. 가게 삭제하기<br/>
    3. 가게 상세정보 - 리스트에서 가게 클릭시 이동됩니다.<br/>
    4. 가게 이미지 업로드 - 사진등록하기 -> 파일 선택 -> 사진업로드 하면 사진 수정됩니다.<br/>
    5. 가게 상세정보 수정 - 상단우측에 수정하기 버튼시 수정 폼이 나오고, 취소하려면 상단우측 취소 누르면됩니다.<br/>
    6. 가게 메뉴이미지 업로드<br/>
    <p>
      권한별 페이지 설정<br/>
      관리자는 유저정보 / 가게정보 / 가게상세정보 모두 보기, 수정 가능<br/>
      가맹 유저는 로그인시 바로 가게 페이지가 보임.<br/>
    </p>
  </div>
</div>